node_modules
    .env
    .env.local
    .env.*.local
    .DS_Store *
    .log
npm - debug.log *
    .git
    .gitignore
    .idea
    .vscode
dist
build
coverage
    .nyc_output *
    .swp *
    .swo *
    ~
    .env.production.local